.header{
    padding: 15px;
    color: #EADCEC;
    &__title{
        text-align: center;
        margin-bottom: 15px;
    }
    &__list{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        &_item{
            &_1{
                text-align: center;
                width: 150px;
                height: 100px;
                background: #2FC8A1;
                padding: 10px;
                border-radius: 5px;
            }
             &_2{
                text-align: center;
                color: #EADCEC;
                width: 150px;
                height: 100px;
                background: #B25BE5;
                padding: 10px;
                border-radius: 5px;
            }
            &_3{
                text-align: center;
                color: #EADCEC;
                width: 150px;
                height: 100px;
                background: #F08E4F;
                padding: 10px;
                border-radius: 5px;
            }
            &_total{
                text-align: center;
                color: #EADCEC;
                width: 150px;
                height: 100px;
                background: #4BA4E8;
                padding: 10px;
                border-radius: 5px;
            }

        }
    }
}