.header {
  padding: 15px;
  color: #eadcec;

  &__title {
    text-align: center;
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 26px;
    &_item {
      text-align: center;
      margin: 0 15px 0 15px;
      height: 150px;
      width: 150px;
      padding: 10px;
      border-radius: 10px;
      &_1 {
        background: #2fc8a1;
      }
      &_2 {
        background: #b25be5;
      }
      &_3 {
        background: #f08e4f;
      }
      &_total {
        text-align: center;
        background: #4ba4e8;
      }
    }
  }
}
