.tabs {
    margin: 15px;
  position: relative;
  border: 1px solid #DEE8F2;
  & input {
  display: none;
  }
  &__btnWater{
    background: #4ba4e8;
  }
  &__water{
    padding: 15px;
    background: #4ba4e8;
    color: aliceblue;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 180px;
    width: 800px;
    & input{
      display: block;
      font-size: 20px;
      padding: 5px;
      margin: 5px 0;
      width: 150px;
    }
    & form{
      display: flex;

    }
  }
}
section {
  display: none;  
  padding: 15px;
  background: #5a3636;
  position: absolute;
  top: 0;
  left: 180px;
}

label {
  display: block;
  width: 180px;
  padding: 5px;
  color: #4F5966;
  background: #d1dbe5;
  cursor: pointer;
}
input:checked + label {
  color: #25ad3c;
  background: #ffffff;
}
#tab1:checked ~ #content1, 
#tab2:checked ~ #content2, 
#tab3:checked ~ #content3, 
#tab4:checked ~ #content4, 
#tab5:checked ~ #content5 {
  display: block;
}
section {
  animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
  transform: scale(0.9);
  opacity: 0;
  }
  50% {
  transform: scale(1.005);
  opacity: 0.5;
  }
  100% {
  transform: scale(1);
  opacity: 1;
  }
}